ion-content{
    --background: #3E8D2E;

}

ion-toolbar{

--background: #3E8D2E;
--color:#ffffff;
}

ion-item{
--background: rgb(255, 255, 255);
--color: #0a0808;
}
ion-button{
--background: rgba(25, 204, 9, 0.932);
}